/*
@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
         url('./fonts/Satoshi-Regular.woff') format('woff'),
         url('./fonts/Satoshi-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
         url('./fonts/Satoshi-Bold.woff') format('woff'),
         url('./fonts/Satoshi-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Italic.woff2') format('woff2'),
         url('./fonts/Satoshi-Italic.woff') format('woff'),
         url('./fonts/Satoshi-Italic.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('./fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}
 */


 @font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Regular.ttf') format('truetype');
 }

    @font-face {
        font-family: 'Nunito';
        src: url('./fonts/Nunito-Bold.ttf') format('truetype');
        font-weight: bold;
    }


    @font-face {
        font-family: 'Nunito';
        src: url('./fonts/Nunito-Italic.ttf') format('truetype');
        font-style: italic;
    }


    @font-face {
        font-family: 'Nunito';
        src: url('./fonts/Nunito-BoldItalic.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
    }


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ededed;
}

.logo {
    height: 2rem;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0 20px;
}


.title-text {
    font-weight: bold;
}

.bigcard:hover {
    filter: brightness(0.8);
}

.nav-link {
    color: rgb(0, 0, 0);
}

.dark-mode .nav-link {
    color: #ffffff;
}

.img-ico {
    height: 25px;
    filter: brightness(0.6);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dark-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.input-container {
    margin-bottom: 1.5rem;
}


.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.c-itemmini {
    height: 245px;
}

.c-imgmini {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.n-img {
    height: 120px;
    object-fit: cover;
}

.dark-mode .close {
    color: #fff;
}

.card-body {
    color: #333;
    height: 30%;
}

.card-news:hover {
    filter: brightness(0.8);
}

.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: bold;
    overflow: hidden;
    height: 3.6em;
    
}

body.dark-mode {
    background-color: #242424;
    color: #fff;
}

.card-news {
    background-color: #fff;
}

.card {
    background-color: #fff;
}


.dark-mode .card,
.dark-mode .card-news {
    background-color: #333333;
    color: #fff;
}

.dark-mode .card-body {
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #dbdbdb;
}

.dark-mode .navbar {
    background-color: #242424;
    color: #fff;
    border-bottom: 1px solid #393939;
}

  
.navbar-brand {
    color: #333;
    margin-right: 10px;
}

.dark-mode .navbar-brand {
    color: #fff;
}

.button {
    border-radius: 20px;
    border: none;
    background-color: #fff;
}

.button:hover {
    color: #fff;
    background-color: #393939;
}

.dark-mode .button {
    color: #fff;
    border-color: #393939;
    background-color: #393939;
    border-radius: 20px;
}

::-webkit-scrollbar {
    height: 1rem;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo del track */
}

html ::-webkit-scrollbar-thumb {
    background: #A0A0A0; /* Color del thumb */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
}

html.dark ::-webkit-scrollbar-thumb {
    background: #363636; /* Color del thumb */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
}


::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
}



.dark-mode .button:hover {
    background-color: #ededed;
    color: #333;
}

.dark-mode .c-imgmini {
    filter: brightness(0.6);
}

.dark-mode .rounded-search {
    background-color: #393939;
    border-color: #393939;
}

.btn-buscar {
    border-radius: 20px;
    background-color: #fff;
    outline: none;
}

.dark-mode .btn-buscar {
    border-color: #393939;
    background-color: #393939;
    color: #cccccc;
}

.dark-mode .img-ico {
    content: url(./images/logo-white.png);
}

.dark-mode .logo {
    content: url(./images/Chaos\ News-logo-white.png);
}

.dark-mode .hrxd {
    background-color: #393939;
}

.volver-arriba-btn {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.form-control {
    border-radius: 5px;
    background-color: #fff;
    border: 1px groove #dbdbdb;
}


.dark-mode .form-control {
    border-color: #444444;
    background-color: #393939;
    color: #fff;
}

.comment-area {
    border-radius: 10px;
    background-color: #fff;
    border: 1px groove #dbdbdb;
    resize: none;
    height: 50px;
    width: 100%;
    padding: .25rem .5rem;
    overflow-y: hidden; 
    transition: height 0.3s ease;
}

.dark-mode .comment-area {
    background-color: #2c2c2c;
    border: 1px groove #393939;
    color: #fff;

}

.dark-mode #comment-area {
    background-color: #2c2c2c !important;
    border: 1px groove #393939;
    color: #fff;
}

.comment-area:focus {
    height: 150px;
    transition: height 0.3s ease;
    outline: none
    ;
}
.form-group label {
    color: #333;
    font-weight: bold;
}

.dark-mode .form-group label {
    color: #fff;
}

.form-group input {
    color: #333;
}

.dark-mode .form-group input {
    color: #fff;
}

.form-group textarea {
    color: #333;
    
}

.dark-mode .form-group textarea {
    color: #fff;
}

.form-group select {
    color: #333;
}

.dark-mode .form-group select {
    color: #fff;
}
.rounded-search {
    border-radius: 20px;
    padding: 22px;
    border: none;
    background-color: #fff;
    color: #333;
}

.btn-modal {
    border: 1px groove #2c2c2c;
}
  
.dark-mode .rounded-search {
    background-color: #393939;
    color: #fff;
}
.rounded-search::placeholder {
    padding-left: 5px;
}

.dark-mode .form-control::placeholder {
    color: #cccccc;
}

.volver-arriba-btn:hover {
    background-color: #a6d3ff;
}

.volver-arriba-img {
    width: 24px;
    height: auto;
}

.dark-mode .volver-arriba-img {
    content: url(./images/backarrow-white.png);
}

.dark-mode .volver-arriba-btn:hover {
    background-color: #2946a2;
}

.custom-card {
    width: 100%;
    height: 15.3rem;
    background-size: cover;
    background-position: center;
}

.custom-card-body {
    z-index: 1;
    bottom: 0;
    position: absolute;
    height: 40%;
    width: 100%;
}

.custom-card-title {
    color: white;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.other-news {
    height: auto;
    margin-top: 50px;
    margin-right: 10px;
    bottom: auto;
    width: 100%;
    padding: 20px;
    border-color: #dbdbdb;
    border-radius: 5px;
    border-width: 1px;
    border-style: groove;
    background-color: #f3f3f3;
}

.dark-mode .other-news {
    background-color: #242424;
    border-color: #363636;
}

.other-news-insidediv {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-color: #dbdbdb;
    border-width: 1px;
    border-style: groove;
}

.dark-mode .other-news-insidediv {
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 5px;
    border-color: #363636;
    border-width: 1px;
    border-style: groove;
}

.other-news a {
    color: #333;
}

.other-news h6 {
    color: #51a8ff;
    font-weight: bold;
}

.dark-mode .other-news a {
    color: #ffffff;
}

.dark-mode .other-news h6 {
    color: #2c6fa3;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.jumbo-about-us {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
    border-color: #dbdbdb;
    border-width: 1px;
    border-style: groove;
}

.dark-mode .jumbo-about-us {
    background-color: #2b2b2b;
    border-color: #363636;
}

.img-about-us {
    height: 80%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    filter: brightness(0.9);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 5px;
    margin-bottom: 5px;

}

.light-mode .modal-bg {
    background-color: #ededed; /* Cambia el color de fondo del modal en modo claro */
    color: #000; /* Cambia el color del texto del modal en modo claro */
  }
  
.dark-mode .modal-bg {
    background-color: #242424; /* Cambia el color de fondo del modal en modo oscuro */
    color: #fff; /* Cambia el color del texto del modal en modo oscuro */
  }
  
.dark-mode .modal-header {
    border: 1px groove #363636; /* Cambia el color del borde del header del modal en modo oscuro */
  }
.carousel-title {
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;

}

.dark-mode .about-us-icon {
    content: url(./images/about-us-icon-dark.png);
}
.dark-mode .dark-mode-icon {
    content: url(./images/light-theme-icon.png);
}

.dark-mode .faq-icon {
    content: url(./images/faq-icon-dark.png);
}

.dark-mode .login-icon {
    content: url(./images/login-icon-dark.png);
}

.dark-mode .contact-us-icon {
    content: url(./images/contact-us-icon-dark.png);
}


.badge-modern {
    font-size: 0.75rem;  
    padding: 0.25em 0.5em; 
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
  }

  .badge-modern i {
    margin-right: 0.3em; 
  }

.badge-modern:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
    cursor: pointer;
}

.btn-tr {
    border-radius: 15px;
    background-color: #fff;
    color: #333;
    border: #333;
    padding: 10px;
}

.btn-tr:hover {
    background-color: #007bff;
    color: #fff;
}



.dark-mode .btn-tr {
    background-color: #333;
    color: #fff;
}

.dark-mode .btn-tr:hover {
    background-color: #0056b3;
    color: #fff;
}


.btn-edit, .btn-delete {
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    border: #333;
    padding: 5px 10px;
}

.btn-edit:hover {
    background-color: #ffbf00;
    color: #fff;
}

.btn-delete:hover {
    background-color: #c00000;
    color: #fff;
}

.dark-mode .btn-edit, .dark-mode .btn-delete {
    background-color: #333;
    color: #fff;
}

.dark-mode .btn-edit:hover {
    background-color: #ffbf00;
    color: #fff;
}

.dark-mode .btn-delete:hover {
    background-color: #c00000;
    color: #fff;
}


.delete-container {
    background-color: #fff;
}

.dark-mode .delete-container {
    background-color: #2c2c2c;
}

.password-container {
    position: relative;
}
.password-container input {
    padding-right: 40px; /* espacio para el icono */
}
.password-container .fa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.liked {
    background-color: red !important; /* Cambia "otro-color" por el color deseado */
}

.comment-input-wrapper {
    position: relative;
  }

  .comment-area {
    width: 100%;
    padding-bottom: 50px; /* Espacio para el botón */
    padding-right: 5px;

  }
  
  .send-btn-wrapper {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px; /* Altura del rectángulo */
    background-color: white; /* Color de fondo del rectángulo */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none; /* Evita que el área reciba eventos de entrada */
    border: 1px groove #dbdbdb; /* Borde del rectángulo */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px; /* Redondea el borde inferior izquierdo */
    border-bottom-right-radius: 10px; /* Redondea el borde inferior derecho */
  }
  
  .dark-mode .send-btn-wrapper {
    background-color: #2c2c2c;
    border: 1px groove #393939; /* Cambia el color de fondo del rectángulo en modo oscuro */
  }

  #send-btn, .send-btn {
    border: none; /* Sin bordes */
    padding: 3px 25px; /* Espacio interno del botón */
    border-radius: 50px;
    z-index: 1;
    pointer-events: auto; /* Permite que el botón reciba eventos de entrada */
    margin-right: 5px; /* Agrega un margen de 5px a la derecha del botón */
    background-color: #007bff;
    color: white;
  }

    .dark-mode #send-btn, .dark-mode .send-btn {
        background-color: #0056b3;
    }

  #send-btn:hover, .send-btn:hover {
    background-color: #0056b3;
  }

    .dark-mode #send-btn:hover, .dark-mode .send-btn:hover{
        background-color: #007bff;
    }
  
  .d-flex i, .send-btn-wrapper i {
    margin-right: 5px; /* Espacio entre el icono y el texto */

  }

  .dropdown-bg {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px 10px;
  }

  .dropdown-bg a {
    color: #343a40;
    border-radius: 5px;
  }

    .dark-mode .dropdown-bg {
        background-color: #2c2c2c;
        border-color: #393939;
        
    }

    .dark-mode .dropdown-bg a {
        color: #fff;
    }

    .dropdown-bg a:hover {
        background-color: #007bff;
        color: #fff;
        transition: ease-in-out 0.1s;
    }

    .dark-mode .dropdown-bg a:hover {
        background-color: #0056b3;
    }

    .badge-tag {
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
    }

    .dark-mode .badge-tag {
        background-color: #0056b3;
    }


  
  /* Cambiar el color del texto en el botón de adjuntar imagen */
  input[type="file"]::file-selector-button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;

  }



    input[type="file"]::file-selector-button:hover {
        background-color: #0056b3;
    }


.dark-mode .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .dark-mode .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    background-color: #393939;
    color: #fff;
}

.ck.ck-toolbar {
    background: var(--ck-color-toolbar-background);
    border: 1px solid var(--ck-color-toolbar-border);
    padding: 0 var(--ck-spacing-small);
}

.dark-mode .ck.ck-toolbar {
    background: #393939;
    border: 1px solid #444 !important;
}

.ck.ck-balloon-panel.ck-powered-by-balloon[class*=position_border] {
    border: var(--ck-focus-ring);
    border-color: var(--ck-powered-by-border-color);
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: var(--ck-color-base-border);
}

.dark-mode .ck.ck-icon.ck-icon_inherit-color, .dark-mode .ck.ck-icon.ck-icon_inherit-color * {
    color: rgb(255, 255, 255);
    background: transparent;
}

.dark-mode .ck-reset_all :not(.ck-reset_all-excluded *), .dark-mode .ck.ck-reset_all {
    color: rgb(255, 255, 255);
    background-color: #393939;
}

.dark-mode .ck.ck-button:not(.ck-disabled):active, .dark-mode .ck.ck-button:not(.ck-disabled):active {
    background-color: #393939;
}

.dark-mode .ck.ck-button:not(.ck-disabled):hover, .dark-mode .ck.ck-button:not(.ck-disabled):hover {
    background: rgba(255, 255, 255, 0.1);
}

.dark-mode .ck.ck-button.ck-on, .dark-mode a.ck.ck-button.ck-on {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
}

.dark-mode .ck-list-styles-list {
    color: rgb(255, 255, 255) ;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.dark-mode [dir=ltr] .ck.ck-button .ck-button__label, 
.dark-mode [dir=ltr] a.ck.ck-button .ck-button__label {
    text-align: left;
    background-color: transparent;
}

/* hover para .dark-mode [dir=ltr] .ck.ck-button .ck-button__label, 
.dark-mode [dir=ltr] a.ck.ck-button .ck-button__label {
    text-align: left;
    background-color: #2c2c2c;
}


 */

.dark-mode .ck.ck-button:not(.ck-disabled):hover, .dark-mode .ck.ck-button:not(.ck-disabled):hover {
    background: rgba(255, 255, 255, 0.1);

}

.ck.ck-splitbutton.ck-splitbutton_open>.ck-button:not(.ck-on):not(.ck-disabled):not(:hover), .ck.ck-splitbutton:hover>.ck-button:not(.ck-on):not(.ck-disabled):not(:hover) {
    background: var(--ck-color-split-button-hover-background);
}

.dark-mode .ck.ck-splitbutton.ck-splitbutton_open>.ck-button:not(.ck-on):not(.ck-disabled):not(:hover), .dark-mode .ck.ck-splitbutton:hover>.ck-button:not(.ck-on):not(.ck-disabled):not(:hover) {
    background: rgba(255, 255, 255, 0.1);
}

.ck.ck-button.ck-on:not(.ck-disabled):hover, a.ck.ck-button.ck-on:not(.ck-disabled):hover {
    background: var(--ck-color-button-on-hover-background);
}

.dark-mode .ck.ck-button.ck-on:not(.ck-disabled):hover, .dark-mode a.ck.ck-button.ck-on:not(.ck-disabled):hover {
    background: rgba(255, 255, 255, 0.1);
}

.ck.ck-list__item>.ck-button.ck-on {
    /* background: var(--ck-color-list-button-on-background); */
    color: var(--ck-color-list-button-on-text);
}

.dark-mode .ck.ck-list__item>.ck-button.ck-on {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
}

.ck.ck-list__item>.ck-button:hover:not(.ck-disabled) {
    background: var(--ck-color-list-button-hover-background);
}

.dark-mode .ck.ck-list__item>.ck-button:hover:not(.ck-disabled) {
    background: rgba(255, 255, 255, 0.1);
}


.ck.ck-button:active, .ck.ck-button:focus, a.ck.ck-button:active, a.ck.ck-button:focus {
    border: var(--ck-focus-ring);
    box-shadow: var(--ck-focus-outer-shadow), 0 0;
    outline: none;
}

.dark-mode .ck.ck-button:active, .dark-mode .ck.ck-button:focus, .dark-mode a.ck.ck-button:active, .dark-mode a.ck.ck-button:focus {
    border: var(--ck-focus-ring);
    box-shadow: none;
    outline: none;
}

.ck.ck-input:focus {
    border: var(--ck-focus-ring);
    box-shadow: var(--ck-focus-outer-shadow), 0 0;
    outline: none;
}

.dark-mode .ck.ck-input:focus {
    border: var(--ck-focus-ring);
    box-shadow: none;
    outline: none;
}

.dark-mode .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
    border: #444;
}



.dark-mode .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: #444 !important;
}

.dark-mode .ck.ck-editor__main>.ck-editor__editable.ck-focused {
    border-color: #444 !important;
}

.ck-word-count {
    display: none !important;
}

.ck.ck-balloon-panel.ck-powered-by-balloon[class*=position_border] {
    border: var(--ck-focus-ring);
    border-color: var(--ck-powered-by-border-color);
    display: none;
}

.dark-mode .ck-content .image figcaption {
    background-color: #393939 !important;
    color: #fff !important;
}



.comment {
    margin-bottom: 20px;
    border-radius: 5px;
    
}


.comment-header {
    margin-bottom: 5px;
}

.comment-header strong {
    font-weight: bold;
}

.comment-header small {
    color: #666;
}

.comment-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    padding: 0;
}

.comment-actions button:hover {
    color: #007bff;
}
.comment-actions button i {
    margin-right: 5px;
}

.reply-form .form-group {
    margin-bottom: 10px;
    margin-left: 10px;
}

.reply-form .comment-area {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}


.parent-comment  {

    padding: 10px;
    background-color: transparent;
    border-radius: 15px;

}

.child{
    margin-left: 40px;

}

/* modo oscuro de los comentarios */




.dark-mode .comment-header strong {
    color: #fff;
}


.dark-mode .comment-header small {
    color: #2c2c2c;
}

.dark-mode .comment-actions button {
    color: #ffffff;

}

.dark-mode .comment-actions button:hover {
    color: #0056b3;
}


.dark-mode .reply-form .form-group {
    color: #fff;
}


.dark-mode .reply-form .comment-area {
    background-color: #393939;
    color: #fff;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important; ;
}


.btn-toggle-replies {
    color: #007bff;
    background-color: transparent !important;
    outline: none !important;
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
}

.btn-toggle-replies:hover {
    color: #0056b3;
}

.dark-mode .btn-toggle-replies {
    color: #0056b3;
    background-color: transparent !important;
    outline: none !important;
}

.dark-mode .btn-toggle-replies:hover {
    color: #007bff;
}


.comment-header {
    display: flex;
    align-items: center;
}

.comment-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-details {
    display: flex;
    flex-direction: column;
}

.form-group-reply {
    display: flex;
    align-items: flex-start;
}

.comment-reply-area {
    flex-grow: 1;
    margin-left: 10px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #4b4b4b;
    resize: none;
    overflow-y: hidden;
    height: 30px;
    transition: border-color 0.3s ease;

}

.comment-reply-area:focus {
    border-color: #007bff;

}

.dark-mode .comment-reply-area {
    color: #fff;
    border-color: #ffffff;
}

.dark-mode .comment-reply-area:focus {
    border-color: #0056b3;
}

.profile-icon {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

@media (max-width: 768px) {
    .profile-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}
.img-navbar {
    height: 2rem;
}

.icon-mode-dark {
    display: none !important;
}

.dark-mode .icon-mode-dark {
    display: inline-block !important;
}

.dark-mode .icon-mode {
    display: none !important;
}


.navbar-main {
    border-radius: 15px;
}

.navbar-main:hover {
    background-color: #007bff;
    color: #fff;
    transition: ease-in-out 0.1s;
    
}

.dark-mode .navbar-main {
    color: #fff !important;
}

.dark-mode .navbar-main:hover {
    background-color: #0056b3;
}

.main-active {
    background-color: #007bff;
    color: #fff;
}

.dark-mode .main-active {
    background-color: #0056b3;
}

@media (max-width:992px) {
    .navbar-main {
        border-radius: 10px;
        padding: 5px;
        margin: 0;
    }

    .media-account {
        display: inline-block !important;
    }

    .account {
        display: none;
    }

    .navbar-brand {
        margin-left: 5px;
    }
}



.comment-input-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px; /* Espacio entre la imagen y el textarea */
  }
  
  .comment-user-image {
    width: 50px; /* Ajusta según el tamaño que desees para la imagen */
    height: 50px; /* Asegúrate de que el ancho y alto sean iguales para una imagen cuadrada */
    border-radius: 50%; /* Para que la imagen sea circular */
  }
  
  .comment-area {
    flex: 1;
    resize: none;
  }
  
  .send-btn-wrapper {
    margin-top: 10px; /* Ajusta este margen según sea necesario */
    margin-left: 70px;
  }
  

 .dark-mode .list-group-item {
    background-color: #2c2c2c;
    color: #fff;
}