{% extends 'appchaosnews/base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Detalle de Noticia{% endblock %}

{% block content %}

<!-- Contenido de la noticia en detalle -->
<div class="container mt-4">
  <div class="row justify-content-left ">
    <div class="col-lg-8">
      <!-- Título de la noticia -->
      <h2 class="mb-4 mt-4 title-text">{{ noticia.titulo }}</h2>

      <div style="display: inline;">
        <p style="top: 0; display: inline-block; margin-right: 10px;">
            Historia de {{ noticia.autor.first_name }} {{ noticia.autor.last_name }} <b>•</b> 
            <span class="" title="{{ noticia.fecha_subida|date:'j N, Y H:i' }}">
              <i class="fas fa-clock mr-1 ml-1"></i> {{ noticia.fecha_subida|human_readable_time }} 
            </span>
        </p>
        {% if user == noticia.autor %}
        <div class="text-right" style="display: inline; float: inline-end;">
            <a href="{% url 'editar_noticia' noticia.id %}" class="btn btn-edit  mr-2"><i class="fas fa-edit"></i></a>
            <a href="{% url 'eliminar_noticia' noticia.id %}" class="btn btn-delete "><i class="fas fa-trash"></i></a>
        </div>
        {% endif %}
    
    


<!-- Imagen de la noticia -->
<hr class="hrxd">
<div class="text-center mb-2">
  <img src="{{ noticia.imagen.url }}" class="img-fluid" alt="{{ noticia.titulo }}">
</div>

<!-- Etiquetas de categoría -->
<div class="mb-3">
  {% for etiqueta in noticia.etiquetas.all %}
  <span class="badge badge-modern badge-tag text-light">
    <i class="fas fa-tag"></i> {{ etiqueta }}
  </span> 
  {% endfor %}
  <hr class="hrxd">
  
</span>
</div>

  <!-- Contenido de la noticia -->
<div class="ck ck-content">
    {{ noticia.contenido|safe}}
</div>


<!-- Like, compartir y comentarios -->

<!-- Boton de like y comentar -->
<hr class="hrxd">
<div class="d-flex justify-content-between">


  <div class="d-flex">
    <button class="btn btn-sm btn-tr mr-2" id="like-button" data-url="{% url 'like_noticia' noticia.id %}">
      <i class="fas fa-thumbs-up"></i>  <span id="likes-count">{{ noticia.likes.count }}</span>
  </button>
  
  </div>

    <!-- Botón para compartir en redes sociales -->
  <div class="d-flex">
      <button class="btn btn-sm btn-tr">
        <i class="fas fa-share"></i> Compartir
      </button>

  </div>



</div>


 <!-- Sección de comentarios -->
{% block comments %}
<div id="comment-section" class="mt-4">
  <h4 class="mb-4">Comentarios</h4>
  <form id="comment-form" method="post" action="{% url 'comentar_noticia' noticia.id %}">
    {% csrf_token %}
    <div class="form-group mb-3">
      <div class="comment-input-wrapper">
        {% if user.is_authenticated %}
        <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}" class="comment-user-image">
        
        <textarea name="contenido" class="comment-area" id="comment-area" placeholder="Haz un comentario" rows="4" required></textarea>
        <div class="send-btn-wrapper text-right">
          <button type="submit" class="btn" id="send-btn">
            <i class="fas fa-paper-plane"></i> Enviar
          </button>
        </div>
          {% else %}

          <div class="text-center">
            <a href="{% url 'login' %}">
              <p>Inicia sesión para comentar</p>
            </a>
            
          </div>
          
          {% endif %}
        
      </div>
    </div>
  </form>
  <hr class="hrxd">
  <div id="comments" class="comments">
    {% if comentarios.count == 0 %}
      <p class="text-muted text-center">No hay comentarios aún. Sé el primero en comentar</p>
    {% else %}
      {% for comentario in comentarios %}
        {% if not comentario.parent %}
          {% include "appchaosnews/components/comment.html" with comment=comentario %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}

</div>
</div>
    <!-- Noticias relacionadas -->
{% if noticias_relacionadas %}
<div class="col-lg-4">
    <div class="other-news">
        <h6>Noticias relacionadas</h6>
        <div class="other-news-insidediv">
            {% for noticia_relacionada in noticias_relacionadas|slice:":3" %}
                <!-- Enlace para dirigirse a la página de detalle de la noticia relacionada -->
                <a href="{% url 'detalle_noticia' noticia_relacionada.id %}">{{ noticia_relacionada.titulo }}</a>
                <!-- Mostrar el hr solo si hay más de una noticia relacionada -->
                {% if noticias_relacionadas|length > 1 and not forloop.last %}
                    <hr class="hrxd">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}


  </div>
</div>


<!-- Botón para volver arriba -->
<button id="volverArribaBtn" class="btn btn-tr volver-arriba-btn" onclick="scrollToTop()">
  <img src="{% static '/images/backarrow.png' %}" alt="" class="volver-arriba-img">
</button>
  
{% endblock %}

{% block scripts %}
<script src="{% static 'js/detalle_noticia.js' %}"></script>

{% endblock %}