{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle de Noticia - Chaos News</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <link href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
  <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
  <!-- script para cambiar modo -->
  <script src="{% static 'script.js' %}"></script>
</head>

<body class="light-mode"> <!-- clase para el modo oscuro -->

  <nav class="navbar navbar-expand-lg navbar">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img class="logo" src="{% static 'images/Chaos News-logo.png' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'quienes_somos' %}">
                    <img src="{% static 'images/about-us-icon.png' %}" class="icon about-us-icon" alt=""> Quiénes somos
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'FAQ' %}">
                    <img src="{% static 'images/FAQ-icon.png' %}" class="icon faq-icon" alt=""> FAQ
                </a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" id="contacto" data-toggle="modal" data-target="#contactoModal">
                    <img src="{% static 'images/contact-us-icon.png' %}" class="icon contact-us-icon" alt=""> Contáctanos
                </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" id="modoBtn" href="#">
                  <img src="{% static 'images/dark-theme-icon.png' %}" class="icon dark-mode-icon" alt=""> Cambiar de Modo
              </a>
          </li>

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
            
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'images/login-icon.png' %}" class="icon login-icon" alt="">
                  {{ user.first_name|add:" "|add:user.last_name }}
                </a>
                <div class="dropdown-menu dropdown-bg" aria-labelledby="accountDropdown">
                  {% if perms.appchaosnews.add_noticia %}
                      <a class="dropdown-item" href="{% url 'subir_noticia' %}">Subir Noticia</a>
                  {% endif %}

                    <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" id="loginBtn" href="{% url 'login' %}">
                    <img src="{% static 'images/login-icon.png' %}" class="icon login-icon" alt=""> Iniciar sesión
                </a>
            </li>
            {% endif %}
            
        </ul>
    </div>
  </nav>


<hr  class="hrxd">
<!-- Contenido de la noticia en detalle -->

<div class="container mt-4">
  <div class="row justify-content-left">
    <div class="col-lg-8">
      <!-- Título de la noticia -->
      <h2 class="mb-4 title-text">{{ noticia.titulo }}</h2>

      <div style="display: inline;">
        <p style="top: 0; display: inline-block; margin-right: 10px;">
            Historia de {{ noticia.autor.first_name }} {{ noticia.autor.last_name }} <b>•</b> 
            <span class="" title="{{ noticia.fecha_subida|date:'j N, Y H:i' }}">
              <i class="fas fa-clock mr-1 ml-1"></i> {{ noticia.fecha_subida|human_readable_time }} 
            </span>
        </p>
        {% if user == noticia.autor %}
        <div class="text-right" style="display: inline; float: inline-end;">
            <a href="{% url 'editar_noticia' noticia.id %}" class="btn btn-edit  mr-2"><i class="fas fa-edit"></i></a>
            <a href="{% url 'eliminar_noticia' noticia.id %}" class="btn btn-delete "><i class="fas fa-trash"></i></a>
        </div>
        {% endif %}
    </div>
    


      <!-- Imagen de la noticia -->
      <hr class="hrxd">
      <div class="text-center mb-2">
        <img src="{{ noticia.imagen.url }}" class="img-fluid" alt="{{ noticia.titulo }}">
      </div>
      
      <!-- Etiquetas de categoría -->
      <div class="mb-3">
        {% for etiqueta in noticia.etiquetas.all %}
        <span class="badge badge-modern badge-tag text-light">
          <i class="fas fa-tag"></i> {{ etiqueta }}
        </span> 
        {% endfor %}
        <hr class="hrxd">
        
      </span>
      </div>


      <!-- Contenido de la noticia -->
      <div class="ck ck-content">
        {{ noticia.contenido|safe}}
    </div>


      <!-- Like, compartir y comentarios -->

      <!-- Boton de like y comentar -->
      <hr class="hrxd">
      <div class="d-flex justify-content-between">


        <div class="d-flex">
          <button class="btn btn-sm btn-tr mr-2" id="like-button" data-url="{% url 'like_noticia' noticia.id %}">
            <i class="fas fa-thumbs-up"></i>  <span id="likes-count">{{ noticia.likes.count }}</span>
        </button>
        
        </div>

          <!-- Botón para compartir en redes sociales -->
        <div class="d-flex">
            <button class="btn btn-sm btn-tr">
              <i class="fas fa-share"></i> Compartir
            </button>
 
        </div>


      </div>
 <!-- Sección de comentarios -->
<!-- Sección de comentarios -->
<div id="comment-section" class="mt-4">
  <h4 class="mb-4">Comentarios</h4>
  <form id="comment-form" method="post" action="{% url 'comentar_noticia' noticia.id %}">
    {% csrf_token %}
    <div class="form-group mb-3">
      <div class="comment-input-wrapper">
        <textarea name="contenido" class="comment-area" id="comment-area" placeholder="Haz un comentario" rows="4" required></textarea>
        <div class="send-btn-wrapper text-right"> <!-- Alineación a la derecha -->
          <button type="submit" class="btn" id="send-btn">
            <i class="fas fa-paper-plane"></i> Enviar
          </button>
        </div>
      </div>
    </div>
  </form>
  <hr class="hrxd">
  <div id="comments" class="comments">
    {% if comentarios.count == 0 %}
    <p class="text-muted text-center">No hay comentarios aún. Sé el primero en comentar</p>
    {% else %}
    {% for comentario in comentarios %}
    <div class="comment p-3 mb-3 rounded comment-box">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <strong>{{ comentario.usuario.username }}</strong>
        <small class="text-muted">{{ comentario.fecha }}</small>
      </div>
      <p>{{ comentario.contenido }}</p>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>



      

    </div>


    <!-- Noticias relacionadas -->
{% if noticias_relacionadas %}
<div class="col-lg-4">
    <div class="other-news">
        <h6>Noticias relacionadas</h6>
        <div class="other-news-insidediv">
            {% for noticia_relacionada in noticias_relacionadas|slice:":3" %}
                <!-- Enlace para dirigirse a la página de detalle de la noticia relacionada -->
                <a href="{% url 'detalle_noticia' noticia_relacionada.id %}">{{ noticia_relacionada.titulo }}</a>
                <!-- Mostrar el hr solo si hay más de una noticia relacionada -->
                {% if noticias_relacionadas|length > 1 and not forloop.last %}
                    <hr class="hrxd">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}






  </div>
</div>

<!-- Botón para volver arriba -->
<button id="volverArribaBtn" class="btn btn-tr volver-arriba-btn" onclick="scrollToTop()">
  <img src="{% static '/images/backarrow.png' %}" alt="" class="volver-arriba-img">
</button>

<!-- Modal de contacto -->

<div id="contactoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-bg"> <!-- Añade la clase dark-mode-bg al modal -->
      <div class="modal-header">
        <h5 class="modal-title">Contáctanos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Contáctanos</h1>
        <p class="text-center">¡Estamos aquí para ayudarte! Completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</p>

        <form action="enviar.php" method="post">
          <div class="form-group mt-5">
            <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Correo electrónico" required>
          </div>
          <div class="form-group">
            <textarea class="form-control form-control-sm" id="mensaje" name="mensaje" rows="5" placeholder="Mensaje" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-tr btn-modal">
              <i class="fas fa-paper-plane"></i> Enviar mensaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3">
      
    <div class="container">
        <hr class="hrxd">
      <span class="text-muted">© 2024 Chaos News. Todos los derechos reservados.</span>
    </div>
  </footer>

<!-- Scripts de Bootstrap y otros -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

  function stickyOtherNews() {
  var otherNews = document.querySelector('.other-news');
  var otherNewsOffset = otherNews.offsetTop;
    if (window.scrollY > otherNewsOffset) {
        otherNews.classList.add('sticky');
    } else {
        otherNews.classList.remove('sticky');
    }
  }
    document.getElementById('like-button').addEventListener('click', function() {
    var url = this.getAttribute('data-url');
    fetch(url, {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('likes-count').textContent = data.likes_count;
    });
  });


  // Agregar un event listener para detectar el desplazamiento de la página
  window.addEventListener('scroll', stickyOtherNews);

  document.addEventListener('DOMContentLoaded', function() {
    var textarea = document.getElementById('comment-area');

    textarea.addEventListener('input', function() {
        this.style.height = 'auto'; // Resetea la altura para calcular el scrollHeight correctamente
        this.style.height = (this.scrollHeight) + 'px';
    });

    textarea.addEventListener('focus', function() {
        this.classList.add('no-placeholder'); // Oculta el placeholder
        if (this.scrollHeight < 152) {
            this.style.height = '150px'; // Altura mínima al enfocarse
        } else {
            this.style.height = (this.scrollHeight) + 'px'; // Ajuste según el contenido
        }
    });

    textarea.addEventListener('blur', function() {
        this.classList.remove('no-placeholder'); // Muestra el placeholder nuevamente
        if (this.value === '') {
            this.style.height = '50px'; // Altura base al perder el foco si está vacío
        }
    });
});


document.addEventListener('DOMContentLoaded', function() {
    var commentArea = document.getElementById('comment-area');
    var sendButtonWrapper = document.querySelector('.send-btn-wrapper');

    // Mostrar el contenedor del botón de enviar cuando el área de comentario obtiene foco
    commentArea.addEventListener('focus', function() {
        sendButtonWrapper.style.display = 'flex';
    });

    // Ocultar el contenedor del botón de enviar cuando el área de comentario pierde foco y está vacía
    commentArea.addEventListener('blur', function() {
        if (commentArea.value.trim() === '') {
            sendButtonWrapper.style.display = 'none';
        }
    });

    // Si el área de comentario ya tiene contenido al cargar la página, asegúrate de mostrar el contenedor del botón de enviar
    if (commentArea.value.trim() !== '') {
        sendButtonWrapper.style.display = 'flex';
    } else {
        sendButtonWrapper.style.display = 'none';
    }
});



$(document).ready(function(){
  $('#comment-form').submit(function(event){
    event.preventDefault();
    
    var form = $(this);
    var actionUrl = form.attr('action');
    var formData = form.serialize();
    
    $.post(actionUrl, formData, function(response){
      // Suponiendo que el servidor devuelve la sección de comentarios actualizada
      $('#comments').html($(response).find('#comments').html());
      
      // Desplazar el scroll hacia la sección de comentarios
      $('html, body').animate({
        scrollTop: $("#comment-section").offset().top
      }, 1000);
      
      // Limpiar el área de comentario
      $('#comment-area').val('');
      $('#comment-area').blur();

    });
  });
});

$(document).ready(function() {
    // Seleccionar el área de comentario
    var commentInput = $('#comment-area');

    // Cuando el formulario de comentario se envía
    $('#comment-form').submit(function(event) {
      event.preventDefault();

      // Hacer scroll hasta el área de comentario
      commentInput.focus();
    });
  });



</script>

</body>
</html>

