{% extends 'appchaosnews/base.html'%}

{% load static %}
{% load custom_filters %}

{% block title %}Editar Noticia{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg p-4">
        <h2 class="mb-4 text-center">Editar Noticia</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_titulo">Título:</label>
            {{ form.titulo }}
          </div>
          <div class="form-group">
            <div class="richfield-container">
              <label for="id_contenido">Contenido:</label>
              {{ form.contenido }}
            </div>
          </div>
          <div class="form-group">
            <label for="id_imagen">Imagen:</label>
            {{ form.imagen }}
          </div>
          <div class="form-group">
            <label for="id_etiquetas">Etiquetas:</label>
            {{ form.etiquetas }}
          </div>
          <div class="form-group form-check">
            <label class="form-check-label" for="id_en_carrusel">
              {{ form.en_carrusel }} ¿Incluir en el carrusel?
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">Guardar Cambios</button>
        </form>
        {{ form.media }} <!-- Esto carga los archivos JavaScript y CSS necesarios para CKEditor -->
      </div>
    </div>
  </div>
</div>
  
  {% endblock %}
  