{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Noticia - Chaos News</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <script src="{% static 'script.js' %}"></script>
</head>
<body class="light-mode"> <!-- Asegúrate de tener la clase correcta para el modo oscuro -->

<!-- Navbar que se colapsa para que sea responsive -->
<nav class="navbar navbar-expand-lg navbar">
  <a class="navbar-brand" href="{% url 'index' %}">
      <img class="logo" src="{% static 'images/Chaos News-logo.png' %}" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'quienes_somos' %}">
                  <img src="{% static 'images/about-us-icon.png' %}" class="icon about-us-icon" alt=""> Quiénes somos
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'FAQ' %}">
                  <img src="{% static 'images/FAQ-icon.png' %}" class="icon faq-icon" alt=""> FAQ
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="contacto" data-toggle="modal" data-target="#contactoModal">
                  <img src="{% static 'images/contact-us-icon.png' %}" class="icon contact-us-icon" alt=""> Contáctanos
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="modoBtn" href="#">
                <img src="{% static 'images/dark-theme-icon.png' %}" class="icon dark-mode-icon" alt=""> Cambiar de Modo
            </a>
        </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'images/login-icon.png' %}" class="icon login-icon" alt="">
                {{ user.first_name|add:" "|add:user.last_name }}
              </a>
              <div class="dropdown-menu dropdown-bg" aria-labelledby="accountDropdown">
                {% if perms.appchaosnews.add_noticia %}
                  <a class="dropdown-item" href="{% url 'subir_noticia' %}">Subir Noticia</a>
                {% endif %}
                  <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
              </div>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" id="loginBtn" href="{% url 'login' %}">
                  <img src="{% static 'images/login-icon.png' %}" class="icon login-icon" alt=""> Iniciar sesión
              </a>
          </li>
          {% endif %}
      </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg p-4">
        <h2 class="mb-4 text-center">Editar Noticia</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_titulo">Título:</label>
            {{ form.titulo }}
          </div>
          <div class="form-group">
            <div class="richfield-container">
              <label for="id_contenido">Contenido:</label>
              {{ form.contenido }}
            </div>
          </div>
          <div class="form-group">
            <label for="id_imagen">Imagen:</label>
            {{ form.imagen }}
          </div>
          <div class="form-group">
            <label for="id_etiquetas">Etiquetas:</label>
            {{ form.etiquetas }}
          </div>
          <div class="form-group form-check">
            <label class="form-check-label" for="id_en_carrusel">
              {{ form.en_carrusel }} ¿Incluir en el carrusel?
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">Guardar Cambios</button>
        </form>
        {{ form.media }} <!-- Esto carga los archivos JavaScript y CSS necesarios para CKEditor -->
      </div>
    </div>
  </div>
</div>

<!-- Modal de contacto -->

<div id="contactoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-bg"> <!-- Añade la clase dark-mode-bg al modal -->
      <div class="modal-header">
        <h5 class="modal-title">Contáctanos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Contáctanos</h1>
        <p class="text-center">¡Estamos aquí para ayudarte! Completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</p>

        <form action="enviar.php" method="post">
          <div class="form-group mt-5">
            <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Correo electrónico" required>
          </div>
          <div class="form-group">
            <textarea class="form-control form-control-sm" id="mensaje" name="mensaje" rows="5" placeholder="Mensaje" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-tr btn-modal">
              <i class="fas fa-paper-plane"></i> Enviar mensaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  function toggleModo() {
    let body = document.body;
    if (body.classList.contains('light-mode')) {
      body.classList.remove('light-mode');
      body.classList.add('dark-mode');
    } else {
      body.classList.remove('dark-mode');
      body.classList.add('light-mode');
    }
  }

</script>
</body>
</html>
