{% extends 'appchaosnews/base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}

<!-- sección de preguntas -->
<div class="container mt-5">
  <h1 class="text-center mb-4">Preguntas frecuentes</h1>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Cómo puedo registrarme en Chaos News?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Para registrarte en Chaos News, simplemente haz clic en el enlace "Inicio de sesión" en la barra de navegación y luego selecciona la opción "Registrarse". Llena el formulario con tu dirección de correo electrónico, nombre y email, y ¡listo!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cómo puedo publicar una noticia en Chaos News?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Para publicar una noticia en Chaos News, primero debes tener una cuenta de periodista creada por el administrador del sitio. Una vez que hayas iniciado sesión, encontrarás la opción para agregar una nueva noticia en tu panel de control. Llena todos los campos requeridos, incluyendo el título, contenido y categoría de la noticia, y luego envía la noticia para revisión. El administrador revisará la noticia y, si cumple con los estándares de calidad, la publicará en el sitio.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cómo puedo contactar a Chaos News?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Puedes contactar a Chaos News a través del formulario de contacto disponible en nuestra página web. Simplemente haz clic en el enlace "Contacto" en la barra de navegación y completa el formulario con tu mensaje y datos de contacto. Nos pondremos en contacto contigo lo antes posible.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Cómo puedo cambiar mi email en Chaos News?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          Para cambiar tu email en Chaos News, inicia sesión en tu cuenta y ve a la sección de tu perfil. Allí encontrarás la opción para cambiar tu email. Ingresa el nuevo correo que deseas utilizar. Guarda los cambios y ¡listo!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ¿Necesito una cuenta para poder comentar en Chaos News?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          Sí, necesitas una cuenta para poder comentar en Chaos News. Puedes registrarte de forma gratuita en nuestro sitio web y luego podrás comentar en las noticias que desees.
        </div>
      </div>


  </div>

</div>

{% endblock %}