{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chaos News - Preguntas frecuentes</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script src="{% static 'script.js' %}"></script>
</head>

<body class="light-mode">
 
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar">
  <a class="navbar-brand" href="{% url 'index' %}">
      <img class="logo" src="{% static 'images/Chaos News-logo.png' %}" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <!-- enlaces de la barra de navegación -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">

          <li class="nav-item">
              <a class="dropdown-item navbar-main" href="{% url 'quienes_somos' %}">
                <i class="fa-solid fa-users fa-lg mr-2"></i>Quiénes somos
              </a>
          </li>

          <li class="nav-item">
              <a class="dropdown-item navbar-main main-active" href="{% url 'FAQ' %}">
                <i class="fa-solid fa-circle-question fa-lg mr-2"></i>Preguntas frecuentes
              </a>
          </li>

          <li class="nav-item">
              <a class="dropdown-item navbar-main" style="cursor: pointer;" id="contacto" data-toggle="modal" data-target="#contactoModal">
                <i class="fa-solid fa-comment fa-lg mr-2"></i>Contáctanos
              </a>
          </li>


  
      </ul>
    {% if user.is_authenticated %}
          <!-- Si el usuario está autenticado, se muestra el dropdown con las opciones de cuenta -->
          <div class="nav-item dropdown">
            
              <a class="navbar-brand" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ user.userprofile.profile_picture.url }}" class="icon profile-icon" alt="">
                <span class="d-md-none" style="font-size: 16px;">{{ user.first_name|add:" "|add:user.last_name }}</span>
              </a>
              <div class="dropdown-menu dropdown-bg dropdown-menu-right" aria-labelledby="accountDropdown">
                <a class="dropdown-item navbar-main" href="{% url 'perfil' %}">
                  <i class="fa-solid fa-user mr-2"></i>  Mi perfil</a>
                {% if perms.appchaosnews.add_noticia %}
                  <a class="dropdown-item navbar-main" href="{% url 'subir_noticia' %}">
                    <i class="fa-solid fa-upload mr-2"></i>  Subir Noticia</a>
                {% endif %}
                  <a class="dropdown-item navbar-main" href="{% url 'logout' %}">
                    <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i>  Cerrar sesión</a>
                  
                    <a class="dropdown-item navbar-main" id="modoBtn" href="#">
                      <i class="fa-solid fa-sun mr-2 icon-mode-dark"></i><i class="fa-solid fa-moon mr-2 icon-mode"></i>  Cambiar modo
                  </a>
              </div>
          </div>
          {% else %}
          
          <div class="nav-item dropdown">

            <a class="dropdown-item navbar-main media-account" style="display: none;" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-circle-user fa-lg mr-2"></i> Iniciar sesión
            </a>

              <a class="navbar-brand account" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-circle-user fa-lg mr-2"></i>
              </a>
              
              <div class="dropdown-menu dropdown-bg dropdown-menu-right" aria-labelledby="accountDropdown">
                  <a class="dropdown-item" href="{% url 'login' %}">
                    <i class="fa-solid fa-arrow-right-to-bracket mr-2"></i>  Iniciar sesión</a>

                  <a class="dropdown-item" href="{% url 'registro' %}">
                    <i class="fa-solid fa-user-plus mr-2"></i>  Registrarse</a>
                  </a>
                  
                  <a class="dropdown-item" id="modoBtn" href="#">
                    <i class="fa-solid fa-sun mr-2 icon-mode-dark"></i><i class="fa-solid fa-moon mr-2 icon-mode"></i>  Cambiar modo
                </a>
              </div>

          </div>

          {% endif %}
    </div>
</nav>

<!-- sección de preguntas -->
<div class="container mt-5">
  <h1 class="text-center">Preguntas frecuentes</h1>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Cómo puedo registrarme en Chaos News?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Para registrarte en Chaos News, simplemente haz clic en el enlace "Inicio de sesión" en la barra de navegación y luego selecciona la opción "Registrarse". Llena el formulario con tu dirección de correo electrónico, nombre y contraseña, y ¡listo!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cómo puedo publicar una noticia en Chaos News?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Para publicar una noticia en Chaos News, primero debes tener una cuenta de periodista creada por el administrador del sitio. Una vez que hayas iniciado sesión, encontrarás la opción para agregar una nueva noticia en tu panel de control. Llena todos los campos requeridos, incluyendo el título, contenido y categoría de la noticia, y luego envía la noticia para revisión. El administrador revisará la noticia y, si cumple con los estándares de calidad, la publicará en el sitio.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cómo puedo contactar a Chaos News?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Puedes contactar a Chaos News a través del formulario de contacto disponible en nuestra página web. Simplemente haz clic en el enlace "Contacto" en la barra de navegación y completa el formulario con tu mensaje y datos de contacto. Nos pondremos en contacto contigo lo antes posible.
        </div>
      </div>
    </div>
  </div>

</div>

<!-- footer -->
<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container text-center">
    <span class="text-muted">© 2024 Chaos News. Todos los derechos reservados.</span>
  </div>
</footer>

<!-- Modal de contacto -->
<div id="contactoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-bg"> <!-- Añade la clase dark-mode-bg al modal -->
      <div class="modal-header">
        <h5 class="modal-title">Contáctanos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Contáctanos</h1>
        <p class="text-center">¡Estamos aquí para ayudarte! Completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</p>

        <form action="enviar.php" method="post">
          <div class="form-group mt-5">
            <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Correo electrónico" required>
          </div>
          <div class="form-group">
            <textarea class="form-control form-control-sm" id="mensaje" name="mensaje" rows="5" placeholder="Mensaje" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-tr btn-modal">
              <i class="fas fa-paper-plane"></i> Enviar mensaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- scripts de bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
