{% extends 'appchaosnews/base.html' %}

{% load static %}

{% block title %}Chaos News{% endblock %}

{% block content %}

<!-- contenido -->
<div class="container">
  <div class="row mt-2 first-row">
    <!-- carrusel -->
    <div class="col mx-0 mt-2">
      <div id="carouselMiniTitulares" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner rounded">
              <!-- titulares -->
              {% for noticia in noticias_carrusel %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %} c-itemmini">
                    <a href="{% url 'detalle_noticia' noticia.id %}" class="stretched-link">
                       <img src="{{ noticia.imagen.url }}" class="d-block w-100 c-imgmini" alt="{{ noticia.titulo }}">
                      <div class="carousel-caption">
                          <h5 class="carousel-title">{{ noticia.titulo }}</h5>
                      </div>
                    </a>
                  </div>
              {% endfor %}
          </div>
          <!-- controles del carrusel -->
          <a class="carousel-control-prev" href="#carouselMiniTitulares" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carouselMiniTitulares" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
      </div>
    </div>

    <!-- barra de busqueda -->
    <div class="container">
      <div class="row mt-4 justify-content-center">
        <div class="col-8">
          <form action="{% url 'buscar_noticias' %}" method="GET"> 
            <div class="input-group input-container">
              <input type="search" name="q" class="form-control rounded-search" placeholder="Buscar" aria-label="Buscar">
              <div class="input-group-append">
                <button class="btn btn-buscar" type="submit">
                  
                  <i class="fas fa-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
<!-----------------------------
    `    ``               `
      ``  _ `      `       ``
    `   |_| `  `` ``    `  `
    ``  -___-_` `   ` --------------
  ``   /      )      | This is fine |`
`____/| (0) (0)_()  |/-------------  `
/|   | |   ^____)      ``      ``
||   |_|    \_//     Uɔ````   `` ``
||    || |    |    ========`  ``  ``
||    || |    |      ||     ``   `
||     \\_\   |\     ||   ```    `
=========||====||    ||  ``       `
  || ||   \Ɔ || \Ɔ   ||   ``    ``
  || ||      ||      ||  `     ``
--------------------------------->

    <!-- noticias -->
    <div class="container">
      <div class="row mt-2">
        <!-- si se hace una búsqueda, se muestran los resultados de la búsqueda -->
          {% if query %}
              {% if resultados %}
                  {% for noticia in resultados %}
                      {% if forloop.counter0|divisibleby:9 %} 
                      <!-- noticia grande -->
                      <div class="col-lg-6">
                        <a href="{% url 'detalle_noticia' noticia.id %}" class="card-link">  <!-- Enlace al detalle de la noticia -->
                          <div class="card mb-4 card-news custom-card" style="background-image: url('{{ noticia.imagen.url }}');">
                            <div class="card-body custom-card-body">
                              <h5 class="card-title custom-card-title">{{ noticia.titulo }}</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                      {% else %}
                      <!-- noticia pequeña -->
                      <div class="col-lg-3 mx-0">
                        <a href="{% url 'detalle_noticia' noticia.id %}" class="card-link">  <!-- Enlace al detalle de la noticia -->
                          <div class="card mb-4 card-news">
                            <img src="{{ noticia.imagen.url }}" class="card-img-top n-img" alt="{{ noticia.titulo }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ noticia.titulo }}</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                      {% endif %}
                  {% endfor %}
              {% else %}
                  <p>No se encontraron resultados.</p>
              {% endif %}
          {% else %}
              {% for noticia in noticias %}
                  {% if forloop.counter0|divisibleby:9 %} 
                      <!-- noticia grande -->
                      <div class="col-lg-6">
                          <a href="{% url 'detalle_noticia' noticia.id %}" class="card-link">  <!-- Enlace al detalle de la noticia -->
                              <div class="card mb-4 card-news custom-card" style="background-image: url('{{ noticia.imagen.url }}');">
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title custom-card-title">{{ noticia.titulo }}</h5>
                                  </div>
                              </div>
                          </a>
                      </div>
                  {% else %}
                      <!-- noticia pequeña -->
                      <div class="col-lg-3 mx-0">
                          <a href="{% url 'detalle_noticia' noticia.id %}" class="card-link">  <!-- Enlace al detalle de la noticia -->
                              <div class="card mb-4 card-news">
                                  <img src="{{ noticia.imagen.url }}" class="card-img-top n-img" alt="{{ noticia.titulo }}">
                                  <div class="card-body">
                                      <h5 class="card-title">{{ noticia.titulo }}</h5>
                                  </div>
                              </div>
                          </a>
                      </div>
                  {% endif %}
              {% endfor %}
          {% endif %}
      </div>
    </div>

    <hr class="hrxd">

    <!-- botón para volver arriba -->
    <button id="volverArribaBtn" class="btn btn-tr volver-arriba-btn" onclick="scrollToTop()">
      <img src=" {% static '/images/backarrow.png' %}" alt="" class="volver-arriba-img">
    </button>

</div>

{% endblock %}

