{% extends 'appchaosnews/base.html' %}

{% load static %}

{% block title %}Quiénes somos{% endblock %}

{% block content %}


<!-- Jumbotron de la página -->
<div class="jumbotron jumbotron-fluid jumbo-about-us">
  <div class="container">
    <h1 class="display-4">Quiénes somos</h1>
    <p class="lead">Chaos News es un colectivo de noticias formado por jóvenes estudiantes de periodismo y comunicación audiovisual. Nuestro objetivo es ofrecer una mirada fresca y joven a las noticias que acontecen en Chile y el mundo, alejándonos de los medios tradicionales.</p>
  </div>
</div>

<!-- Sección de información sobre el colectivo -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-3">Más sobre nosotros</h2>
      <p class="text-justify">Cada miembro del colectivo aporta su experiencia y compromiso para brindar información veraz y relevante. Nos dedicamos a cubrir una amplia gama de temas, desde política y economía hasta cultura y entretenimiento, siempre con un enfoque innovador y dinámico.</p>
      <p class="text-justify">En Chaos News, valoramos la calidad y la profesionalidad en nuestro trabajo. Buscamos desarrollar una plataforma en línea que facilite el proceso de reportaje, edición y publicación de noticias, ofreciendo a nuestros usuarios una experiencia amigable y bien construida.</p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid img-about-us" src="{% static '/images/news.webp' %}" alt="Imagen derecha">
    </div>
  </div>
</div>

{% endblock %}
